	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/#/collection">WireWolf TCG Trader</a>
			</div>
			<div style="" aria-expanded="true" id="navbar" class="navbar-collapse collapse in">
				<ul class="nav navbar-nav">
					<li><a href="/#/collection">Collection</a></li>
					<li><a href="/#/to-exchange">Cards to trade</a></li>
					<li><a href="/#/search-cards">Search Cards</a></li>
					<li><a href="/#/search-users">Search Users</a></li>
					<li><a href="/#/search-ex-cards">Trade Cards</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">

					<li><a href="/#/profile">Profile</a></li>
					<li><a href="/#/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>