<header ng-include="'templates/menu.html'"></header>
<div class="box">
    <h1>Card Details</h1>
    <div class="row ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  text-center ">            
                <img src="{{img}}" alt="" />              
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12  text-left ">   
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center"> {{name}}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6  text-right text-primary">Type:</div>
                            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 ">{{type}}</div>
                        </div>
						
						 <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6  text-right text-primary">Colors:</div>
                            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 ">{{colors}}</div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6  text-right text-primary">Number/Collection</div>
                            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 ">{{number}} / {{set}}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6  text-right text-primary">Rarity:</div>
                            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 ">{{rarity}}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6  text-right text-primary">Power/Thoughness:</div>
                            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 ">{{power}}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6  text-right text-primary">Description</div>
                            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 ">{{description}}</div>
                        </div>

                    </div>
                    <div class="panel-footer">
                        
                        <input type="button" class="form-control btn btn-info" value="Add to Trade" ng-click="addTrade()"ng-show="show==0"/>
                        
                        <input type="button" class="form-control btn btn-primary" value="Remove to Trade" ng-click="removeTrade()" ng-show="show==1" />
                        
                        <input type="button" class="form-control btn btn-danger" value="Delete From Collection" ng-click="removeCollection()"/>
                    </div>
                </div>

<!-- Modal Sucesso -->
<div class="modal fade" id="modalSucess" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <button type="button" ng-click="redirect()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title " id="modalLabel">Success</h4>
            </div>
            <div class="modal-body">

                <div>
                    <p>{{message}}</p>					
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="redirect(url)">OK</button>
            </div>
        </div>
    </div>
</div>


                <!--      
                      <div class="card-profile-block full username">
                          Arauto da Chama Mardu
                      </div>  <br/> 
                      <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6  text-right text-primary">Tipo:</div>
                          <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 ">Creature — Zombie</div>
                      </div>
                     
                       <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6  text-right text-primary">Number/Collection</div>
                          <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 ">Number/Collection</div>
                      </div>
                       <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6  text-right text-primary">Rarity:</div>
                          <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 ">Uncommon</div>
                      </div>
                       <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6  text-right text-primary">Power/Thoughness:</div>
                          <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 ">3 / 2</div>
                      </div>
                       <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6  text-right text-primary">Description</div>
                          <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 ">Whenever a creature dealt damage by Abattoir Ghoul this turn dies, you gain life equal to that creature's toughness.</div>
                      </div>
                              
                      <br/><br/>
                      <input type="button" class="form-control btn btn-primary" value="Add to Collection" ng-click="add()"/>	
                -->
            </div>
        </div>
    </div>
</div>

 <script src="bower_components/jquery/dist/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>

